<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
</head>

<body>
    <h1>Guia Perguntas</h1>
    <hr>
    <h2>Perguntas</h2>
    <p>Nome: <%= nome %></p>
    <p>Linguagem Favorita: <%= lang %></p>

    <!-- if/else com  ejs-->
    <% if(msg){ %>
    <h3>Isso é uma mensagem de erro!</h3>
    <% }else{ %>
    <h3>Nenhum erro!</h3>
    <% }  %>

    <!-- foreach com  ejs-->
    <% produtos.forEach((element)=>{ %>
    <p>Nome: <%= element.nome %></p>
    <p>Preço: <%= element.preco %></p><br>
    <% }) %>

</body>

</html>